body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
h2 {
  color: #0805a8;
  font-size: 20px;
  font-weight: 80;
  line-height: 20px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}
a {
  text-decoration: none;
}

li:first-letter {
  text-transform: capitalize;
}
.overview {
  margin-bottom: 5px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  border: 1px solid #bbcde4;
  border-radius: 0.8rem;
  padding: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64;
}
.weather-temperature strong {
  color: #0805a8;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.float-left {
  display: inline;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 18px;
  color: rgb(103, 155, 156);
}
.weather-forecast-temperature {
  color: rgb(64, 128, 129);

  font-size: 14px;
}
