body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #787878;
  background-color: #fff;
}

h1 {
  color: #4d5d53;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
h2 {
  color: #4d5d53;
  font-size: 20px;
  font-weight: 800;
  line-height: 20px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #989898;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}
a {
  text-decoration: none;
  color: #909090;
}

li:first-letter {
  text-transform: capitalize;
}
.overview {
  margin-bottom: 5px;
}
.btn-dark {
  background-color: #4d5d53;
  margin: #4d5d53;
}
.btn-dark:hover {
  background-color: #404040;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  border: 1px solid #d0f0c098;
  border-radius: 5%;
  padding: 20px;
  background-color: #779e5459;
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64;
}
.weather-temperature strong {
  color: #4d5d53;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  color: #303030;
}
.float-left {
  display: inline;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 18px;
  color: #404040;
}
.weather-forecast-temperature {
  color: #989898;
  font-size: 12px;
}
